@{
    ViewData["Solicitud de prestamo"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h3>Solicitud de prestamo </h3>

<form action='@Url.Action("")' method=""></form>
</div>
