@{
    ViewData["Solicitud de prestamo"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h3>Solicitud de prestamo </h3>

<form action='@Url.Action("Solicitud", "Home")' method="POST">
    <h4>Datos personales</h4>
<h6>Ingrese su nombre:</h6><input type="text" name="nombre" required>
<h6>Ingrese su edad:</h6><input type="number" name="edad" required>
<h6>Ingrese su DNI:</h6><input type="number" name="dni" required>
<h4>Situacion laboral</h4>
<h6>Ingrese su edad:</h6><input type="number" name="edad" required>
<h6>¿Actualmente trabaja?</h6> 
<p>Si</p> <input type="radio" name="trabaja" value="Si" required> 
<p>No</p> <input type="radio" name="trabaja" value="No"required> 
</form>
</div>
